#logo{
    margin-right: 49.8px;
    margin-left: 30px;
    margin-top: 30px;
    width: 100.18px;
    height: 30.57px;
}
.nav_ul li{
    display: inline-block;
   
}
.nav{
    margin-left: 30px;
    font-size: 22px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;

}
#home{
    margin-top: 30.8px;
    margin-right: 18px;
}
#home:hover{
    color: rgb(125, 196, 12);
}
#news{
    margin-right: 30px;
}
#news:hover{
    color: rgb(125, 196, 12);
}
.nav_ul a{
    color: royalblue;
    
}
.active{
    color: red !important  ;
}


.contactinf{
    color: blue;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 20px;
}
span{
    color: gray;
}
.main {
    font-family: Arial, Helvetica;
    width: 1347px;
    height: 570px;
    background-color: #E6E6E6;
    margin-top: 24.2px;
   margin-bottom: 31.5px;
}
.allcontact{
    font-size: 16px;
}
.info{
    display: inline-block;
    margin-left: 97.3px;
   
}
.iframetag{
    display: inline-block;
    width: 874px;
    height: 466px;
    padding-top: 50px;
    margin-right: 90px;
}
.facebook{
   
    margin-left: 30px;
    margin-bottom: 28.3px;
    margin-right: 35.6px;
    width: 14px;
    height: 30px;
}
#line{
    
    margin-bottom: 28.3px;
    margin-right: 30.2px;
    height: 27px;
}
.youtube{
    
    margin-bottom: 28.3px;
    width: 24.8px;
    height: 30px
}