#logo{
   margin-right: 49.8px;
    margin-left: 30px;
    margin-top: 30px;
    width: 100.18px;
    height: 30.57px;
    
}
.nav_ul li{
    display: inline-block;
   
}
.nav{
    margin-left: 30px;
    font-size: 22px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;

}
.nav_ul a{
    color: royalblue;
    
}
.active{
    color: red !important ;
}
.main_img{
    width: 1170px;
    height: 460px;
    margin-left: 98px;
    margin-top: 76.9px;
}
#home{
    margin-top: 30.8px;
    margin-right: 18px;
}

#news{
    margin-right: 30px;
}
#news:hover{
    color: rgb(125, 196, 12);
}
#contact:hover{
    color: rgb(125, 196, 12);
}
.main_img{
    margin-left: 98px;
}
.item1{
    width: 570px;
    height: 225px;
    margin-left: 98px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    display: inline-block;
    margin-bottom: 68.3px;
}
.item1_h3{
    padding-top: 10px;
    padding-left: 27.8px;
    font-size: 22px;
    color: #3D58A6;
}
.top-first{
    display: inline-block;
    width: 100.87px;
    height: 130.5px;
    padding-left: 38.8px;
    padding-top: 12.7px;
}
.firstblock{
    display: inline-block;
    width: 355px;
    height: 143.29px;
    font-size: 20px;
    padding-left: 30px;
}

.item2{
    width: 570px;
    height: 225px;
    margin-left: 29px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    display: inline-block;
}
.item2_h3{
    padding-top: 10px;
    padding-left: 27.8px;
    font-size: 22px;
    color: #3D58A6;
}
.top-second{
    display: inline-block;
    width: 100.87px;
    height: 130.5px;
    padding-left: 38.8px;
    padding-top: 12.7px;
}
.secondblock{
    display: inline-block;
    width: 355px;
    height: 143.29px;
    font-size: 20px;
    padding-left: 30px;
   
}
.important-h3{
    width: 374px;
    height: 32px;
    margin-left: 98px;
    margin-top: 116.6px;
    font-size: 24px;
    margin-top: 116px;
    margin-bottom: 30.8px;
}


.facebook{
    margin-top: 30.6px;
    margin-left: 30px;
    margin-bottom: 29.4px;
    margin-right: 35.6px;
    width: 14px;
    height: 30px;
}
#line{
    margin-top:32.2px;
    margin-bottom: 31.1px;
    margin-right: 30.2px;
    height: 27px;
}
.youtube{
    margin-top: 30.6px;
    margin-bottom: 29.4px;
    width: 24.8px;
    height: 30px;
}